/client/.parcel-cache
/data/favicons/*.png
/data/favicons/*.jpg
/data/thumbnails/*.png
/data/thumbnails/*.jpg
/data/cache/*.spc
/data/logs/*.log
/data/sqlite/*.db
/public
docs/public/
docs/static/processed_images/
user.css
user.js
*.ini
node_modules
.env
phpstan.neon
vendor/
.php-cs-fixer.cache
__pycache__
