.DS_Store
/data/favicons/*.png
/data/favicons/*.jpg
/data/thumbnails/*.png
/data/thumbnails/*.jpg
/data/cache/*.spc
/data/logs/*.log
/data/sqlite/*.db
/public/all.*
/public/all-v*.*
user.css
/_bin/*.*
/_docs/website/forum
config.ini
.project
node_modules
_wiki