parameters:
    level: 8

    paths:
        - src/
        - tests/
        - cliupdate.php
        - index.php
        - run.php

    bootstrapFiles:
        - src/constants.php
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    stubFiles:
        - utils/PHPStan/Stubs/Container.stub
        - utils/PHPStan/Stubs/ContainerInterface.stub
        - utils/PHPStan/Stubs/IcoFileLoader.stub

    ignoreErrors:
        # The arguments are provided by SimplePie and we want the value of a later one.
        - '(Constructor of class helpers\\SimplePieFileGuzzle has an unused parameter \$force_fsockopen\.)'

        # Bad PHPStan typing rules.
        - '(Parameter #3 \$namespace of method XMLWriter::writeAttributeNs\(\) expects string, null given\.)'

    typeAliases:
        SpoutParameterInfo: 'array{title: string, type: spouts\Parameter::TYPE_*, default: string, required: bool, validation: array<spouts\Parameter::VALIDATION_*>, values?: array<string, string>}'
        SpoutParameters: 'array<string, SpoutParameterInfo>'

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
