parameters:
    level: 8

    paths:
        - src/
        - tests/
        - cliupdate.php
        - index.php
        - run.php

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    stubFiles:
        - utils/PHPStan/Stubs/Container.stub
        - utils/PHPStan/Stubs/ContainerInterface.stub
        - utils/PHPStan/Stubs/IcoFileLoader.stub

    typeAliases:
        SpoutParameterInfo: 'array{title: string, type: spouts\Parameter::TYPE_*, default: string, required: bool, validation: array<spouts\Parameter::VALIDATION_*>, values?: array<string, string>}'
        SpoutParameters: 'array<string, SpoutParameterInfo>'

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
