parameters:
    level: 6

    paths:
        - src/
        - tests/
        - cliupdate.php
        - index.php
        - run.php

    bootstrapFiles:
        - src/constants.php
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    stubFiles:
        - utils/PHPStan/Stubs/Dice.stub

    ignoreErrors:
        # We want exhaustiveness check in spouts\twitter\usertimeline::formatEntities
        - '(Result of \|\| is always true\.)'
        # The arguments are provided by SimplePie and we want the value of a later one.
        - '(Constructor of class helpers\\SimplePieFileGuzzle has an unused parameter \$force_fsockopen\.)'

        # Bad PHPStan typing rules.
        - '(Parameter #3 \$namespace of method XMLWriter::writeAttributeNs\(\) expects string, null given\.)'
        - '(Parameter #2 \$algo of function password_hash expects int, string given\.)' # Only fails on PHP ≥ 7.4
        - '(Method PDO::sqliteCreateFunction\(\) invoked with 4 parameters, 2-3 required.)' # Has 4 args since PHP 7.1.4

    typeAliases:
        SpoutParameterInfo: 'array{title: string, type: spouts\Parameter::TYPE_*, default: string, required: bool, validation: array<spouts\Parameter::VALIDATION_*>, values?: array<string, string>}'
        SpoutParameters: 'array<string, SpoutParameterInfo>'
