#opml {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 500px;
}

#opml h1 {
    background:url(images/logo.png) left center no-repeat;                                        
    font-family:'OpenSansSemibold', Arial, sans-serif;
    padding-top:10px;
    padding-left:40px;
    font-size:1.4em;
    margin-bottom:20px;
}

#opml .msg {
    padding: 8px;
    border-radius:8px;
    margin-top: 15px;
}

#opml .error {
    background-color: #ffcccc;
}

#opml .success {
    background-color: #ffcc00;
}

#opml li.center, #opml li.button {
    text-align: center;
}

#opml .button input {
    margin-left:7px;
    padding:5px;
    margin-top: 30px;
    font-size:1.2em;
}

#opml label {
    display: inline-block
    width: 100px;
}

#opml input {
    margin-top: 30px;
}
