body {
    background:url(images/bg.gif);
    font-family:Verdana,Arial,Helvetica,sans-serif;
    color:#3e3e3e;
    margin:0;
    border:0;
}

h1, h2, h3 {
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
}

h1 {
    font-size:22px;
}

h3 {
    font-size:14px;
    color:#666666;
}

p {
    line-height:20px;
}

a {
    color:#365c5a;
    color:#365c5a;
}

code {
    font-size:15px;
    color:#54870f;
}

img {
    border:0;
}

.wrapper-bright,
.wrapper-dark {
    padding-top:10px;
    font-size:14px;
    padding-bottom:20px;
}

.wrapper-dark {
    background:url(images/bgdark.png);
    color:#ffffff;
}

    .wrapper-dark h1 {
        color:#ffffff;
        font-weight:normal;
    }
    
    .wrapper-dark a {
        color:#bbb;
    }
    
    
#header-teaser,
#screenshots,
#documentation {
    position:relative;
    left:50%;
    width:800px;
    margin-left:-400px;
}


/************ header **************/

#header-name {
    position:relative;
    left:50%;
    margin-left:-400px;
    display:block;
    background:url(images/name.png);
    width:253px;
    height:100px;
    
}

    #header-name span {
        display:none;
    }
    
#header-navigation {
    position:absolute;
    left:50%;
    top:40px;
    margin-left:-120px;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:18px;
    font-weight:bold;
    list-style:none;
}

    #header-navigation li {
        float:left;
        margin-left:30px;
        cursor:pointer;
    }
    
    #header-navigation a {
        text-decoration:none;
        color:#3e3e3e;
    }
    
#header-fork {
    position:absolute;
    left:100%;
    margin-left:-149px;
    top:0;
    background:url(images/git.png);
    width:149px;
    height:149px;
}
    
#header-logo {
    position:absolute;
    display:block;
    background:url(images/logo.png);
    width:177px;
    height:209px;
    left:50%;
    margin-left:250px;
    top:200px;
}

#header-just-updated {
    position:absolute;
    background:url(images/justupdated.png);
    width:138px;
    height:52px;
    left:50%;
    top:460px;
    margin-left:470px;
    text-decoration:none;
}

#header-download,
#header-donate {
    position:absolute;
    display:block;
    background:url(images/button-download.png);
    width:211px;
    height:42px;
    left:50%;
    top:440px;
    margin-left:240px;
    text-decoration:none;
}

    #header-download span,
    #header-donate span {
        display:block;
        font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
        color:#ffffff;
        font-size:16px;
        margin-top:10px;
        text-align:center;
        width:100%;
    }

#header-donate {
    background:url(images/button-donate.png);
    top:500px;
}

#header-donate-tooltipp {
    position:absolute;
    display:none;
    background:url(images/tooltipp-donate.png);
    width:271px;
    height:81px;
    top:485px;
    left:50%;
    margin-left:-35px;
    z-index:10;
}

    #header-donate-tooltipp span {
        display:block;
        color:#eeeeee;
        font-size:14px;
        margin:10px;
        width:230px;
        margin-top:5px;
    }

    
#header-appstores {
    position:absolute;
    left:50%;
    top:560px;
    margin-left:240px;
}
   
   
#header-teaser {
    width:600px;
    margin-top:50px;
}

    #header-teaser h1 {
        text-shadow:0px 1px 1px rgba(0, 0, 0, 0.35);
    }
    
    #header-teaser h2 {
        margin-top:40px;
        border-bottom:1px solid #d5d5d5;
        width:300px;
    }
    
    #header-teaser ul {
        margin-top:20px;
        width:500px;
        margin-bottom:40px;
    }
    
        #header-teaser li {
            font-family:'DroidSans', Helvetica;
            margin-bottom:10px;
            font-size:16px;
        }
        
        
        
/************ Screenshots **************/

#screenshots {
    height:240px;
    width:900px;
}

    #screenshots ul {
        margin-left:0;
    }
    
    #screenshots li {
        list-style:none;
        margin-right:36px;
        margin-left:-6px;
        float:left;
    }
    
    
    
/************ documentation **************/

#documentation {
    font-size:14px;
}

    #documentation h2 {
        font-size:18px;
        margin-left:20px;
        margin-top:40px;
    }

    #documentation div {
        margin-left:20px;
    }
    
    #documentation th {
        text-align:left;
    }
    
    #documentation table {
        margin-left:20px;
    }
    
    #documentation table,
    #documentation th,
    #documentation tr,
    #documentation td {
        border:0;
        vertical-align:top;
    }
    
    #documentation td {
        font-size:12px;
    }
    
    #documentation td.documentation-first-column {
        width:150px;
        font-family:"Courier New", Courier, monospace;
    }
    

    
/************ footer **************/

#footer {
    background:#333;
    border-top:3px solid #365c5a;
    height:100px;
}

    #footer,
    #footer a {
        color:white;
        font-size:11px;
    }

    #footer a {
        text-decoration:underline;
    }

    #footer p {
        position:relative;
        width:600px;
        left:50%;
        margin-left:-470px;
        margin-top:20px;
    }