{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "dom.jsx"
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "transform-dom"
  ]
}
