{
    "extends": [
        "stylelint-config-standard",
        "stylelint-prettier/recommended"
    ],
    "rules": {
        "color-hex-length": "long",
        "no-descending-specificity": null,
        "property-no-vendor-prefix": true
    }
}
