/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* fonts
*/

@font-face {
    font-family: 'OpenSansLight';
    src: url('css/OpenSans-Light-webfont.eot');
    src: url('css/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-Light-webfont.woff') format('woff'),
         url('css/OpenSans-Light-webfont.ttf') format('truetype'),
         url('css/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('css/OpenSans-LightItalic-webfont.eot');
    src: url('css/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('css/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('css/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('css/OpenSans-Regular-webfont.eot');
    src: url('css/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-Regular-webfont.woff') format('woff'),
         url('css/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('css/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('css/OpenSans-Italic-webfont.eot');
    src: url('css/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-Italic-webfont.woff') format('woff'),
         url('css/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('css/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('css/OpenSans-Semibold-webfont.eot');
    src: url('css/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-Semibold-webfont.woff') format('woff'),
         url('css/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('css/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('css/OpenSans-SemiboldItalic-webfont.eot');
    src: url('css/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('css/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('css/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('css/OpenSans-Bold-webfont.eot');
    src: url('css/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-Bold-webfont.woff') format('woff'),
         url('css/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('css/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('css/OpenSans-BoldItalic-webfont.eot');
    src: url('css/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('css/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('css/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('css/OpenSans-ExtraBold-webfont.eot');
    src: url('css/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('css/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('css/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('css/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('css/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('css/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('css/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

	

 /* Primary Styles
    Author: Tobias Zeising
 */

html {
	height: 100%;
}
 
body {
	font:18px/27px 'OpenSansLight', Arial, sans-serif;
	background:url(images/bg.gif) repeat;
	height: 100%;
}

select,
input {
	border:solid 1px #ccc;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	padding:6px;
}


/* navigation */

#nav {
	position:fixed;
	width:160px;
	background:#191718;
	border-right:5px solid #3d6d69;
	min-height: 100%;
	height:auto !important;
	height:100%;
	overflow: hidden !important;
	float:left;
	z-index:10;
}

	#nav hr {
		border:0;
		border-bottom:1px solid #272325;
	}

	#nav-logo {
		position:absolute;
		left:20px;
		top:14px;
		background:url(images/logo.png);
		width:31px;
		height:37px;
	}
	
	#nav-mark {
		padding:10px;
		margin-left:15px;
		margin-right:15px;
		margin-top:50px;
		font:18px/27px 'OpenSansSemibold', Arial, sans-serif;
		color:#d7d7d7;
		background:#3d6d69;
		font-size:0.9em;
		text-align:center;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		-khtml-border-radius:2px;
		border-radius:2px;
		cursor:pointer;
	}
	
		#nav-mark:hover {
			color:#000000;
		}
	
	#nav-filter {
		margin-top:20px;
		margin-bottom:30px;
	}
	
		#nav-filter li {
			font: 18px/27px 'OpenSansRegular', Arial, sans-serif;
			color:#6a6a6a;
			padding:5px;
			padding-left:24px;
			margin-top:5px;
			font-size:0.9em;
			cursor:pointer;
		}
		
		#nav-filter li.active {
			background:#272325;
			color:#d7d7d7;
			font-size:1em;
		}
	
	#nav h2 {
		color:#494949;
		text-transform:uppercase;
		font:18px/27px 'OpenSansBold', Arial, sans-serif;
		font-size:0.8em;
		margin-left:18px;
		font-weight:bold;
	}

	#nav-tags {
	
	}
	
		#nav-tags li {
			position:relative;
			font: 18px/27px 'OpenSansLight', Arial, sans-serif;
			color:#b9b9b9;
			cursor:pointer;
			padding:5px;
			padding-left:25px;
			padding-right:30px;
			font-size:0.7em;
			
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
		}
		
		#nav-tags li.active {
			background:#272325;
			color:#d7d7d7;
		}
		
		#nav-tags .color {
			position:absolute;
			left:130px;
			top:14px;
			width:10px;
			height:10px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			-khtml-border-radius:2px;
			border-radius:2px;
		}
		
	#nav-settings,
	#nav-logout {
		position:absolute;
		top:100%;
		margin-top:-70px;
		left:20px;
		width:55px;
		height:55px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		-khtml-border-radius:2px;
		border-radius:2px;
		cursor:pointer;
	}
	
	#nav-settings {
		background:url(images/nav-sources.png) no-repeat center center #272325;
	}
		
	#nav-logout {
		background:url(images/nav-logout.png) no-repeat center center #272325;
		left:85px;
	}
	

/* search */

#search {
	z-index:9;
	position:absolute;
	left:-138px;
	top:25px;
	width:330px;
	padding:5px;
	background:rgba(61, 109, 105, 0.4);
	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
	
	#search.active {
		left:165px;
	}
	
	#search-term {
		width:250px;
		margin-left:10px;
	}

	#search-button,
	#search-remove {
		position:absolute;
		width:30px;
		height:20px;
		top:11px;
		left:280px;
		cursor:pointer;
	}
	
	#search-remove {
		background:url(images/remove.png) no-repeat center center;
	}
	
	#search-button {
		background:url(images/search.png) no-repeat center center;
		left:305px;
	}
	
	
#search-list  {
	display:none;
	margin-left:200px;
	padding-top:10px;
	height:15px;
}
	#search-list  li {
		float:left;
		margin-left:10px;
		color:#ffffff;
		padding-left:5px;
		padding-right:15px;
		font-size:0.85em;
		background: url(images/remove-small.png) no-repeat right center #3d6d69;
		border-right:6px solid #3d6d69;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-moz-border-radius-bottomright: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		cursor:pointer;
	}
	
/* content */

#content {
	margin-left:200px;
	padding-top:20px;
	padding-bottom:20px;
}


	#content.loading {
		background:url(images/ajax-loader-big.gif) center center no-repeat;
		min-height:100%
	}
	

.entry ,
.source {
	margin:5px 50px 5px 5px;
	padding:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:rgba(255, 255, 255, 0.4);
	position:relative;
	font: 18px/27px 'OpenSansRegular', Arial, sans-serif;
	font-size:0.9em;
	border: 1px solid rgba(255, 255, 255, 0);
}

	.entry.selected.unread,
	.entry.unread {
		border-left:3px solid #5f9490;
	}

	.entry.selected {
		border:1px solid #ccc;
	}

	.entry .found {
		color:#fff;
		background:rgba(61, 109, 105, 0.4);
	}

	.entry-icon,
	.entry-title {
		display:inline;
		margin-right:5px;
	}

	.entry-title {
		cursor:pointer;
		color:#999999;
	}
	
		.entry.unread  .entry-title {
			color:#333333;
		}
	
	.entry-content {
		display:none;
		-moz-column-count: 3;
		-moz-column-gap: 2em;
		-moz-column-rule: 1px solid rgba(204, 204, 204, 0.4);
		-webkit-column-count: 3;
		-webkit-column-gap: 2em;
		-webkit-column-rule: 1px solid rgba(204, 204, 204, 0.4);
		column-count: 3;
		column-gap: 2em;
		column-rule: 1px solid rgba(204, 204, 204, 0.4);
		font-size:0.85em;
		margin-top:20px;
	}
		
		.entry-content img {
			max-width:99%;
		}
	
	.entry-icon,
	.entry-icon img {
		margin-top:3px;
		display:block;
		float:left;
		width:16px;
		height:16px;
		text-decoration:none;
	}
	
	.entry-source,
	.entry-datetime {
		display:inline;
		color:#aaa;
		text-decoration:none;
		font-size:0.7em;
	}
	
	.entry-toolbar {
		display:none;
		margin:-5px;
		padding:5px;
		padding-bottom:10px;
		margin-top:10px;
		height:20px;
		border-top:1px solid #CCC;
		background:#eaeaea;
	}
	
		.entry-toolbar li {
			float:left;
			margin-left:10px;
			padding-left:20px;
			cursor:pointer;
		}
		
		.entry-toolbar .entry-starr {
			background:url(images/unstarred.png) left center no-repeat;
		}
		
		.entry-toolbar .entry-starr.active {
			background:url(images/starred.png) left center no-repeat;
		}
		
		.entry-toolbar .entry-unread {
			background:url(images/read.png) left center no-repeat;
		}
		
		.entry-toolbar .entry-unread.active {
			background:url(images/unread.png) left center no-repeat;
		}
		.entry-toolbar .entry-loadimages {
			display:none;
			background:url(images/arrow-down.png) left center no-repeat;
		}
		
	
	.stream-more {
        margin-top:20px;
        margin-bottom:10px;
        height:35px;
        font-size:16px;
        font-weight:bold;
        cursor:pointer;
        text-align:center;
    }
    
        .touch .stream-more {
            margin-bottom:20px;
        }
        
        .stream-more.loading {
            background:url(images/ajax-loader-big.gif) center center no-repeat;
        }
        
        .stream-more.loading span {
            display:none;
        }
		
		
		
/* sources */

.source-title {
	display:inline;
	color:#333333;
}

.source-error {
	color:#ff0000;
}

.source-edit-delete,
.source-action {
	display:inline;
	color:#aaa;
	text-decoration:none;
	font-size:0.7em;
}

	.source-edit-delete span,
	.source-action span {
		cursor:pointer;
	}
	
.source-edit-form {
	display:none;
	margin-left:20px;
	margin-top:10px;
	color:#888;
}

	.source-edit-form .error {
		color:#ff0000;
		font-size:0.85em;
		margin-left:4px;
	}
	
	.source-edit-form label {
		display:inline-block;
		min-width:70px;
	}
	
.source-edit-delete.loading,
.source-action.loading {
	background:url(images/ajax-loader.gif) right center no-repeat;
	padding-right:25px;
}
	
.source-showparams.saved  {
	color:#0000FF;
}
	
.source-icon,
.source-icon img {
	margin-top:3px;
	margin-right:5px;
	display:block;
	float:left;
	width:16px;
	height:16px;
	text-decoration:none;
}

.source-add {
	cursor:pointer;
	font-size:0.85em;
	margin-left:5px;
}

.source-new .source-edit-form {
	display:block;
}

.source-new .source-edit-delete {
	display:none;
}





/* mobile version */

@media screen and (max-width:1024px) {
   
	.entry-toolbar .entry-loadimages {
		display:block;
	}
   
	.entry-content {
		display:none;
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	
 }
