#login h1 {
    text-align:center;
    margin-top:0px;
}

#login input,
#login .ui-select {
    margin-bottom:10px;
}

#header-search {
    padding:5px;
}

#header-search .ui-input-clear {
    margin-right:5px;
}

#header-search .ui-input-clear .ui-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.ui-btn-active {
    background-image:-webkit-linear-gradient(#555,#333);
    border:1px solid #000000;
}

.ui-btn-active.ui-btn-up-e {
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fceda7),to(#fadb4e));
    color:#333;
    text-shadow: 0 1px 0 white;
}

#content-meta {
    color:#999;
    font-size:12px;
}

#content h3.content-title a {
    color:#333;
    text-decoration:none;
}

#about a {
    text-decoration:none;
    font-weight:normal;
}

#stream-content h3 {
    color:#999;
}

#stream-content .unread h3 {
    color:#333;
}

#stream-content img {
    margin-left:-5px;
}

#stream-content li .source {
    color:#999;
    font-size:12px;
}

#content-showimages {
    cursor:pointer;
    border-bottom:0px;
    text-align:center;
    color:#333;
    width:100%;
    height:20px;
    text-shadow:none;
    border:0;
    font-weight:normal;
    text-decoration:underline;
    padding:5px;
}

#content-showimages-header {
    border:0;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fceda7),to(#fadb4e));
}